body{
	font-family: 'Raleway';
}

header, footer{
	height:8vh;
}

main{
	height:84vh;
}

section#game{
	height:100%;
}

section#game div#grid{
	height:500px;
	width:500px;
}

section#game div#grid div.cell{
	height:calc(100% / 10);
	width:calc(100% / 10);
	border:1px solid white;
	float:left;
	display: flex;
	justify-content: center;
	align-items:center;
	text-align: center;
	color:white;
	font-size:.8rem;
}

section#game div#grid div.cell.clicked{
	background-color: rgb(46, 134, 248);
}
