body{
	font-family: 'Raleway';
	overflow: hidden;
}

header, 
footer{
	height:8vh;
}

header .navbar{
	min-width:620px;
	box-shadow: 3px 3px 15px 10px #03d0ff;
}

footer{
	box-shadow: 3px 3px 20px 15px #03d0ff;
}

section#game{
	height:100%;
}

section#game .row{
	height:84vh;
}

section#game div#grid{
	height:550px;
	width:550px;
}

section#game div#grid div.cell{
	float:left;
	cursor:pointer;
	color:white;
	font-size:.85rem;
	display: flex;
	align-items:center;
	justify-content: center;
	border: 1px solid #03d0ff;
	box-shadow: inset 0px 0px 5px 1px #03d0ff;
}

section#game div#grid div.cell.clicked{
	color: black;
	background-color: #6cdbf5;
}
